
.obsidian/cache/

.obsidian/workspace.json

.obsidian/workspaces/

.obsidian/trash/


.obsidian/plugins/obsidian-git/data.json   # [[1][5][11]()

.DS_Store
Thumbs.db
desktop.ini


*.bak
*.tmp


# attachments/


!.obsidian/plugins/  # 保留插件目录
!.obsidian/themes/   # 保留主题目录

# Ignore Smart Environment folder
.smart-env
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/workspace-mobile.json
.trash